<p id="notice"><%= notice %></p>

<h1>Listing Flashcards</h1>

<%= link_to 'New Flashcard', new_flashcard_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @flashcards.each do |flashcard| %>
      <tr>
        <td><%= link_to flashcard.title, flashcard %></td>
        <td>
          <% flashcard.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_flashcard_path(flashcard) %></td>
        <td><%= link_to 'Destroy', flashcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @flashcards %>
