<p id="notice"><%= notice %></p>

<h1>Listing Drills</h1>
<%= link_to 'New Drill', new_drill_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @drills.each do |drill| %>
      <tr>
        <td><%= link_to drill.name + ' (' + drill.flashcards.count.to_s + ')', drill %></td>
        <td><%= link_to 'Edit', edit_drill_path(drill) %></td>
        <td><%= link_to 'Destroy', drill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @drills %>